* {
    touch-action: manipulation;
}

body {
    background: #fff;
    font-family: -apple-system, 'Segoe UI', system-ui, sans-serif;
    line-height: 1.58;
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

b {
    font-weight: inherit;
}

canvas {
    display: block;
    image-rendering: optimizespeed;
    image-rendering: pixelated;
}

h1 {
    color: #7b9278;
    font-size: 32px;
    letter-spacing: -0.5px;
    line-height: 40px;
    margin: 0 0 0 -2px;
    text-shadow: 0 1px 0 #4c625a;
    white-space: nowrap;
}

h1 b {
    color: #eb6b6f;
}

.obj {
    left: -2000px;
    margin: 40px;
    opacity: 0;
    position: absolute;
    top: -1000px;
    transform: translateY(40px);
    transition: margin-bottom 500ms, opacity 500ms, transform 500ms;
}

.obj.spawn {
    opacity: 1;
    position: static;
    transform: translateY(0);
}

.obj.despawn {
    position: static;
    transform: translateY(-40px);
}

.controls .obj {
    transform: translateY(40px) scale3d(1.2, 1.2, 1);
}

.controls .obj.spawn {
    transform: translateY(0) scale3d(1, 1, 1);
}

.controls .obj.despawn {
    margin-bottom: -100px;
    pointer-events: none;
    transform: translateY(-40px) scale3d(0.8, 0.8, 1);
}

.controls {
    left: 544px;
    position: absolute;
    top: 80px;
    width: 440px;
}

.controls a, .textbox a {
    background: #f84284;
    border-radius: 2px;
    box-shadow: 0 8px 20px rgba(248, 66, 132, 0.4);
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-drag: none;
}

.controls a:focus {
    outline: 1px solid rgba(248, 66, 132, 0.9);
    outline-offset: 2px;
}

.controls a:active {
    box-shadow: 0 6px 20px rgba(248, 66, 132, 0.4);
    transform: translateY(2px);
}

.controls a[disabled] {
    filter: grayscale(1);
    pointer-events: none;
}

.textbox {
    background: #fff;
    font-size: 18px;
    margin: 100px 60px 0;
    outline: 2px solid #fff;
    outline-offset: 1px;
    padding: 20px;
    width: 525px; /* 744px */
}

.textbox a {
    margin: 0 20px 10px;
}

.textbox p {
    margin: 0 0 21px;
}

#dwarf-plural, #gold-title, #fullscreen {
    display: none;
}

#dwarf-plural {
    color: #7b9278;
}

#fullscreen {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
}
