body {
    background: #fff;
    font-family: -apple-system, 'Segoe UI', system-ui, sans-serif;
    line-height: 1.58;
    margin: 0;
}

b {
    font-weight: inherit;
}

canvas {
    display: block;
}

h1 {
    color: #7b9278;
    font-size: 32px;
    letter-spacing: -0.5px;
    line-height: 40px;
    margin: 0 0 0 -2px;
    text-shadow: 0 1px 0 #4c625a;
}

h1 b {
    color: #eb6b6f;
}

.obj {
    margin: 40px;
}

.controls {
    left: 544px;
    position: absolute;
    top: 80px;
    width: 440px;
}

.controls a {
    background: #f84284;
    border-radius: 2px;
    box-shadow: 0 8px 20px rgba(248, 66, 132, 0.4);
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.controls a:focus {
    outline: 1px solid rgba(248, 66, 132, 0.9);
    outline-offset: 2px;
}

.controls a:active {
    box-shadow: 0 6px 20px rgba(248, 66, 132, 0.4);
    transform: translateY(2px);
}

.controls a[disabled] {
    filter: grayscale(1);
    pointer-events: none;
}

#dwarf-plural, #gold-title {
    display: none;
}

#dwarf-plural {
    color: #7b9278;
}
